<h1>Buynow Cards Balance</h1>
<div class="balance_section">
  <div class="account" style="float: left;">
    <p class="title"><%= @jay.name %></p>
    <p class="amount">¥&nbsp;&nbsp;<%= @jay.balance.debit %></p>
  </div>
  <div class="account" style="float: right;">
    <p class="title"><%= @vera.name %></p>
    <p class="amount">¥&nbsp;&nbsp;<%= @vera.balance.debit %></p>
  </div>
  <div style="clear: both;"></div>
</div>
<div class="user_section">
  <p>
    <h3><label id="current-user">I am Nobody</label></h3>
    <%= link_to "change user", users_path %>
  </p>
</div>
